/******CONTAINER******/
.app-main__outer{
	width:100% !important;
}

/*******ASISTENCIA*******/
.color-C { color: #5cb85c; }
.color-I { color: #f6ea67; }
.color-F { color: #d9534f; }
.color-O { color: #6063d7; }
.color-V { color: #95cbe7; }
.color-Fe { color: #666; }

.border-left{
	border-left: 1px solid #dee2e6;
}

.page-item{
	/*border: 5px solid red;*/
}

.page-item div.item-li{
	position: relative;
	display: block;
	padding: .5rem .75rem;
	margin-left: -1px;
	line-height: 1.25;
	background-color: #fff;
	border: 1px solid #dee2e6;
	min-height: inherit;
}
.textCondicion{
	height: 35px;
}

.textTitulo{
	text-transform: uppercase;
	color: rgba(13,27,62,0.7);
	font-weight: bold;
	font-size: .88rem;
}
/********FIN-ASISTENCIA********/

/************RUTAS*************/
.tdLabel{
	background-color: #eee; 
	font-weight: bold; 
	text-align: right;
}

.tdLabel-1{
	background-color: #CCC; 
	font-weight: bold; 
	text-align: center; 
	height: 2em !important;
}
/************FIN RUTAS*************/

/*******CONTINGENCIA ASISTENCIA********/
.tdBloqueado{
	background-color: #CCCCCC;
}
.tdSelect{
	display: block;
	/*width: 100%;*/
	height: calc(2.25rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
/*******FIN CONTINGENCIA ASISTENCIA********/

/*********CONTINGENCIA RUTAS************/
.themeWhite{
	background: #f1f4f6;
}

/*PRODUCTOS*/
.ipWidth{
	min-width: 6rem;
}
.slWidth{
	min-width: 12rem;
}
.fotoMiniatura{
	width: 16px;
	border: 1px solid #CCC;
	margin: 0 auto;
}
.content-input-file .text-file {
    float: left !important;
    border-radius: 3px 0px 0px 3px;
    height: 30px;
    width: 75%;
}
.content-input-file .btn-file {
    background-color: #2d5ba1;
    display: block !important;
    float: left !important;
    padding: 7px 8px !important;
    margin: 0em !important;
    color: #FFF;
    cursor: pointer;
    width: 25%;
    line-height: 0px;
    border-radius: 0px 3px 3px 0px;
    height: 30px;
}
.btnFoto{
	font-size: 20px !important;
}

.imgNormal{
	width: 100px;
	border: 2px solid #CCC;
}
/*********FIN CONTINGENCIA RUTAS************/

.verticalLine{
	border-left: 2px solid #e9ecef;
	height: auto;
}

.text-white{
	color: #FFFFFF !important;
}

.text-justify{
	text-align: justify;
}

.modal-header, .modal-footer {
    background: #ffffff;
}

.dv-cover-opacity{
    background-color: #929191 !important;
    width: 100%;
    height: 100%;
    opacity: 60%;
    display: float;
    position: fixed;
    border-radius: 5px;
    border: 1px #ffffff solid;
}

.hide{
	display: none !important;
}

.logo-white {
    height: 43px;
    width: 194px;
    background: url(../assets/images/logos/visual.png);
}

.bg-impactTrade{
    background: url(../assets/images/fondos/visual-1.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100% 100%;
}

.bg-visual{
	background-color: #757575 !important; 
}

.bg-pg{
	background-color: #003da7 !important; 
}

.text-pg{
	background-color: #003da7 !important; 
}

.user-profile {
    width: 4em;
    height: 4em;
    border-radius: 20%;
    border: #FFF solid 0.2em;
    /*margin-right: 10px;*/
}

.small-text{
	font-size: 0.8em;
}
.logo-alt{
    margin-left: 25% !important;
    margin-right: 25% !important;
    width: 50% !important;
}


@media (max-width: 991.98px){
	.app-header__logo{
		width: auto !important;
		display: flex !important;
	}
	
	#dv-header__pane {
		display: none !important;
	}
	
	div.dataTables_wrapper div.dataTables_filter input {
		display: block !important;
		width: 100% !important;
		margin-left: 0px !important;
	}
	
	div.dataTables_wrapper div.dataTables_filter label {
		display: block !important;
	}
	
	.img-comercio{
		width: 15% !important;
	}
}

:focus {
	outline: 0;
}

/* FILTROS */
.flt_fechas{ width: 175px !important; }

/* SELECT2 */
.select2-selection__rendered,
.select2-selection__arrow { line-height: calc(1.8125rem) !important; }

.select2-selection__rendered,
.select2-selection__arrow { height: calc(1.8125rem) !important; }

.select2-selection { height: calc(1.8125rem + 2px) !important; }
.select2-selection:focus { box-shadow: 0 0 0 0.2rem rgba(0,123,255,0.25); border-color: #a9bcee; }

.select2-container--default .select2-selection--single { border: 1px solid #ced4da !important }
.select2-container--default .select2-selection--single .select2-selection__rendered { color: #495057 !important; }

/* OCULTAR ICONO DE PRUEBA DE ANYCHART */
.anychart-credits {
	display: none !important;
}

.card-header.card-header-tab .nav {
    margin-left: unset !important;
}

.funciones{
	width: auto;
    margin-left: auto;
}

.is-invalid + .select2 .select2-selection{
    border-color: #FF4338 !important;
}

.is-valid + .select2 .select2-selection{
    border-color: #3AC47D !important;
}

/************************************************************HANDSONTABLE - START************************************************************/
/********************TABLE********************/
/* BACKGROUND */
.ht_master tr td {
	color:black;
}

/********************HEADERS********************/
/* BACKGROUND */
/* All headers */
/* .handsontable th {
	background-color: unset;
} */

/* Row headers */
/* .ht_clone_left th {
	background-color: unset;
} */

/* Column headers */
/* .ht_clone_top th {
	background-color: unset;
} */

/* BORDERS */
/* Row headers */
/* Bottom */
/* .ht_clone_top_left_corner th {
	border-bottom: unset;
} */

/* Left and right */
/* .ht_clone_left th {
	border-right: unset;
	border-left: unset;
} */

/* Column headers */
/* Top, bottom and right */
/* .ht_clone_top th {
	border-top: unset;
	border-right: unset;
	border-bottom: unset;
} */

/* Left */
/* .ht_clone_top_left_corner th {
	border-right: unset;
} */

/********************CORNER********************/
/* BACKGROUND */
/* .ht_clone_top_left_corner th {
	background-color: unset;
} */

/* BORDERS */
/* .ht_clone_top_left_corner th {
	border: unset;
} */

/********************ROWS********************/
/* BACKGROUND */
/* Every odd row */
/* .ht_master tr:nth-of-type(odd)>td {
	background-color: unset;
} */

/* Every even row */
/* .ht_master tr:nth-of-type(even)>td {
	background-color: unset;
} */

/* Selected row  */
/* Add a custom class name in the configuration: currentRowClassName: "foo"; */
/* .ht_master tr.foo>td {
	background-color: unset;
} */

/* Specific row (2) */
/* .ht_master tr:nth-child(2)>td {
	background-color: unset;
} */

/* BORDERS */
/* Bottom */
/* .ht_master tr>td {
	border-bottom: unset;
} */

/* Right */
/* .ht_master tr>td {
	border-right: unset;
} */

/********************COLUMNS********************/
/* BACKGROUND */
/* Every odd column */
/* .ht_master tr>td:nth-of-type(odd) {
	background-color: unset;
} */

/* Every even column */
/* .ht_master tr>td:nth-of-type(even) {
	background-color: unset;
} */

/* Selected column  */
/* Add a custom class name in the configuration: currentColClassName: "foo"; */
/* .ht_master tr>td.foo {
	background-color: unset;
} */

/* Specific column (B) */
/* .ht_master tr>td:nth-child(3) {
	background-color: unset;
} */

/********************CELL********************/
/* BACKGROUND */
/* Selected cell */
/* .ht_master tr>td.current {
	background-color: unset;
} */

/* Specific cell (B2) */
/* .ht_master tr:nth-child(2)>td:nth-child(3) {
	background-color: unset;
} */

/* Edit mode */
/* .handsontableInput {
	background-color: unset;
} */

/********************SELECTION********************/
/* BACKGROUND */
/* .handsontable td.area {
	background-color: unset;
} */

/********************DROPDOWN********************/
.handsontable.listbox td.htDimmed {
    color: #828282 !important;
}
/************************************************************HANDSONTABLE - END************************************************************/

hr.dashed {
    border-top: 2px dashed #999;
}

hr.dotted {
    border-top: 2px dotted #999;
}

hr.solid {
    border-top: 2px solid #999;
}


hr.hr-text {
  position: relative;
    border: none;
    height: 1px;
    background: #999;
}

hr.hr-text::before {
    content: attr(data-content);
    display: inline-block;
    background: #fff;
    font-weight: bold;
    font-size: 0.85rem;
    color: #999;
    border-radius: 30rem;
    padding: 0.2rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wr-5 {
	width: 5rem;
}

.wr-10 {
	width: 10rem;
}

.wr-15 {
	width: 15rem;
}

.wr-20 {
	width: 20rem;
}

.hr-5 {
	height: 5rem;
}

.hr-10 {
	height: 10rem;
}

.hr-15 {
	height: 15rem;
}

.hr-20 {
	height: 20rem;
}

.hr-25 {
	height: 25rem;
}


/********************MAESTROS - BASEMADRE***********************/
.dv-maps{
	height: 39.75rem;;
	width: 100%;
}

.handsontable .red-bg{
	background-color: #ff0000;
	color: #FFFFFF
}
.handsontable .changeTrue {
	background-color: #75f575 !important;
	text-align: center;
}
.handsontable .changeFalse {
	background-color: #ff4c42!important;
}
/********************FIN MAESTROS - BASEMADRE***********************/

/*****************GESTION GERENCIAL - INICIATIVAS**************/
.tdSuccess {
	background-color: green;
	color: #fff;
}
.tdNoSuccess{
	background-color: red;
	color: #fff;
}
/*****************FIN GESTION GERENCIAL - INICIATIVAS**************/