.customizer {
	width: 400px;
	right: -400px;
	background-color: #FFF;
	z-index: 1025;
	position: fixed;
	top: 0;
	bottom: 0;
	height: 100vh;
	-webkit-transition: right .4s cubic-bezier(.05, .74, .2, .99);
	-o-transition: right .4s cubic-bezier(.05, .74, .2, .99);
	-moz-transition: right .4s cubic-bezier(.05, .74, .2, .99);
	transition: right .4s cubic-bezier(.05, .74, .2, .99);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	border-left: 1px solid rgba(0, 0, 0, .05);
	-webkit-box-shadow: 0 0 8px rgb(0 0 0 / 10%);
	box-shadow: 0 0 8px rgb(0 0 0 / 10%);
}
.customizerGraphics {
	width: 100%;
	right: -100%;
	background-color: #FFF;
	z-index: 1025;
	position: fixed;
	top: 0;
	bottom: 0;
	height: 100%;
	-webkit-transition: right .4s cubic-bezier(.05, .74, .2, .99);
	-o-transition: right .4s cubic-bezier(.05, .74, .2, .99);
	-moz-transition: right .4s cubic-bezier(.05, .74, .2, .99);
	transition: right .4s cubic-bezier(.05, .74, .2, .99);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	border-left: 1px solid rgba(0, 0, 0, .05);
	-webkit-box-shadow: 0 0 8px rgb(0 0 0 / 10%);
	box-shadow: 0 0 8px rgb(0 0 0 / 10%);
}

.customizer a.customizer-toggle {
	color: #967ADC;
	display: block;
	border-radius: 15px 0 0 15px;
}

.customizer .customizer-toggle {
	position: absolute;
	top: 100px;
	width: 44px;
	height: 40px;
	left: -45px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}

.customizer.open {
	right: 0;
}

.customizer a.customizer-close {
	color: #000;
}

.customizer .customizer-close {
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 7px;
	width: auto;
	z-index: 10;
}

.customizer .customizer-content {
	position: relative;
	height: 100%;
	overflow-y: hidden;
}
.customizerGraphics .customizer-content {
	position: relative;
	height: 100%;
	overflow-y: auto;
}

/* .nav.nav-tabs.active {
	background: #FFF;
	position: relative;
	border-bottom: 2px solid #e2001a;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	color: #1a171b !important;
	background-color: #fff;
	border-color: #dee2e6 #dee2e6 #fff;
	border-bottom: 2px solid #e2001a;
	border-left: none;
	border-right: none;
	border-top: none;

}

.nav.nav-tabs.nav-justified {
	width: 100%;
}

.nav {
	border-radius: .25rem;
} */

.btn-group,
.btn-group-vertical {
	position: relative;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	vertical-align: middle;
}

.sidebar .nav-link.active {
	background-color: #9a9a9a !important;
	color: white !important;
}

.customizer-content-button {
	min-height: 45px;
	height: 5vh;
	overflow-y: auto;
	overflow-x: hidden;
	padding: .25rem !important;
}

.customizer-content-filter {
	min-height: 80vh;
	height: 80vh;
	overflow-y: auto;
	overflow-x: hidden;
	padding: .25rem !important;
}

@media (max-width: 767px) {
	.customizer .customizer-toggle {
		position: absolute;
		top: 100px;
		width: 44px;
		height: 40px;
		left: -23%;
		text-align: center;
		line-height: 40px;
		cursor: pointer;
	}

	.customizer.d-xl-block{
		width: 100%;
	}

	.customizer.d-none{
		display: block;
	}
}