/*****************GESTION GERENCIAL - INICIATIVAS**************/
.tdSuccess {
	background-color: green;
	color: #fff;
}
.tdNoSuccess{
	background-color: red;
	color: #fff;
}
.fotoMiniatura{
	width: 16px;
	border: 1px solid #CCC;
	margin: 0 auto;
}

.color-C { color: #5cb85c; }
.color-I { color: #f6ea67; }
.color-F { color: #d9534f; }
.color-O { color: #6063d7; }
.color-V { color: #95cbe7; }
.color-Fe { color: #666; }
/*****************FIN GESTION GERENCIAL - INICIATIVAS**************/